<config>
	<name>gtrans.linuxoid.in</name> <!-- Transport name -->
	<host>127.0.0.1</host> <!-- Jabber server address -->
	<port>5555</port> <!-- Jabber server port -->
	<password>superpassword</password> <!-- Transport password -->
</config>

